= form_for [@poll, @question] do |f|
  - if @question.errors.any?
    #error_explanation
      %h3.text-danger= "#{pluralize(@question.errors.count, "error")} prohibited this question from being saved:"
      %ul
        - @question.errors.full_messages.each do |msg|
          %li= msg

  %p
    =f.label :title
    =f.text_field :title, class: "form-control input-lg"

  %p
    %label What kind of question?
  .radio
    -@kind_options.each do |option|
      %label
        =f.radio_button :kind, option[1]
        =option[0]

  %p
    %label Specify some choices:

  =f.fields_for :possible_answers do |c|
    %p
      =c.text_field :title, placeholder: "Type your choice", class: "form-control"

  %p
    =f.hidden_field :poll_id
    =f.submit 'Save'
