%h1=@poll.title

-if @poll.questions.any?
  %ul
    -@poll.questions.each do |question|
      %li
        =question.title
        =link_to "Drop question", poll_question_path(@poll, question), method: :delete
        %ul
          -question.possible_answers.each do |possible_answer|
            %li=possible_answer.title

-else
  %p.bg-info.flash No questions.

%h2 Replies

%ul
  -@poll.replies.each do |reply|
    %li
      =time_ago_in_words reply.created_at
      %dl.dl-horizontal
        -reply.answers.each do |answer|
          %dt=answer.question.title
          %dd=answer.value


%p
  =link_to 'New question', new_poll_question_path(@poll)
  \|
  =link_to 'Edit', edit_poll_path(@poll)
  \|
  =link_to 'Back', polls_path
  \|
  =link_to 'Answer', new_poll_reply_path(@poll)
