%h1=@poll.title

%ul.nav.nav-tabs
  %li.active=link_to "Questions", "#tab-questions", data: { toggle: "tab" }
  %li=       link_to "Replies"  , "#tab-replies"  , data: { toggle: "tab" }
  %li=       link_to "Stats"    , "#tab-stats"    , data: { toggle: "tab" }

.tab-content
  #tab-questions.tab-pane.active
    =render "questions"

  #tab-replies.tab-pane
    =render "replies"

  #tab-stats.tab-pane
    =render "stats"
