%nav.navbar.navbar-default.navbar-static-top{:role => "navigation"}
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => "#nav", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      =link_to "Tutspolls", root_path, class: "navbar-brand"

    #nav.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          =link_to polls_path do
            %span.glyphicon.glyphicon-flag
            Polls

      %ul.nav.navbar-nav.navbar-right
        -if current_user
          %li
            %span.navbar-text Signed in as #{current_user.email}
          %li
            =link_to destroy_session_path('user'), method: :delete do
              %span.glyphicon.glyphicon-log-out
              Sign out
        -else
          %li
            =link_to new_session_path('user') do
              %span.glyphicon.glyphicon-log-in
              Sign in
